/* @font-face {
  font-family: 'KhanoonThin';
  src: url('../font/KhanoonThin.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Sarabun';
  src: url('../font/THSarabun.ttf') format('truetype');
  font-display: swap;
  font-weight: bold;
}

 */

.uppercase {
    text-transform: uppercase;
}

.text-uppercase-first {
    text-transform: capitalize;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    .container {
      width: 90%;
    }
  }

@keyframes slideIn {
    0% {
      transform: translateY(-10px); /* เลื่อนขึ้นขึ้นเล็กน้อยที่สุด */
      opacity: 0.8;
    }
    100% {
    }
}
.table-responsive {
  transform: scale(0.9);
  /* ลดขนาดลง 90% */
  transform-origin: top center;
  /* จุดเริ่มต้นการย่อ */
}
.relative-cell {
  position: relative; /* Establishes a positioning context for the child elements */
}

.asterisk {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 5px; /* Adjust padding as needed for spacing */
  background: white; /* Ensure the background color matches the cell's background */
}